.bithoundrc
.log
.travis.yml
.idea
.tmp
.DS_Store
.editorconfig
.babelrc
.npmrc
.nvmrc
.gitattributes
.gitignore
.prettierignore
.prettierrc

local.js
CHANGELOG.md
README.md

tsconfig.json
tslint.json
yarn-error.log

coverage/
src/
test/
node_modules/
examples/
scripts/